{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card p-3">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            <legend class="border-bottom pb-2 mb-3">Join In</legend>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button class="btn btn-custom mt-2" type="submit">Sign In</button>
        </div>
    </form>
    <small class="border-top mt-3 pt-2">
        Already have an account? <a href="{% url 'login' %}">Login</a>
    </small>
</div>
{% endblock %}